html, body {
  font-family: Helvetica Neue, Helvetica, Tahoma, Verdana, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.listing {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}
