.wrapper {
  width: 100%;
}

.listing {
  width: 100%;
  margin: 0 auto;
  border: 0;
  border-collapse: collapse;
}

.listing th {
  text-align: left;
  padding: .5em;
}

.listing td {
  vertical-align: top;
  border-top: 1px solid #eee;
  padding: .5em;
}
